ion-grid {
    &.center-grid{
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-40%, -40%) !important;
        display: block !important;
        max-width: 300px;
        width: 100%;
    }
}

.input-invalid {
    color: var(--ion-color-danger);
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.eye-icon {
    color: black;
}

.error-message {
    color: red;
    font-size: 12px
}