ion-grid {
    height: 100%;
    margin: 1rem 1rem;

    ion-col {
        height: 40%
    }

    ion-slides {
        width:100%;
        height: 40vh;
    }
}

.slider-nav {
    text-align: center;

}

.arrow-prev, .arrow-next {
    width: 3rem;
    margin: auto;
}

.arrow-prev, .arrow-next {
    width: 3rem;
    margin: auto;
}

.prev-icon-custom.disabled, .after-icon-custom.disabled {
    opacity: 0.4;
    cursor: default;
}

.category-text {
    text-align: center;
    font-size: 1.4rem;
}

.displayVertically {
    display: block;
    grid-template-columns: 50px 1fr 50px;

    margin: 0 1rem 1rem 0;

}

.category-wrapper {
    text-align: center;
}

.card-products {
    display: grid;
    gap: .5rem;

    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 120;

    max-height: 350px;
    border: 1px solid black;
}

.card-products[scrollx=true].card-products[scrolly=true] {
    position: relative;
    overflow: hidden;
}

.card-products[scrollx=true] {
    overflow-x: auto;
}

.card-products[scrolly=true] {
    overflow-y: auto;
}

