<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/navtabs/tabs/orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Table 11 Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" size-sm="2">
          
        <div class="displayVertically"> 

          <div class="slider-nav arrow-prev"> 
              <span class="slider-nav arrow-prev" (click)="slidePrev(slider,slideNavCategory)">
                <div class="prev-icon-custom custom-nav" [class.disabled]="slider.isBeginningSlide">
                  <!-- <ion-button> -->
                    <ion-img src="assets/images/iconmonstr-arrow-66.svg"></ion-img>
                  <!-- </ion-button> -->
                </div> 
              </span>
          </div> 

          <div class="slide-nav"> 
            <ion-slides [options]="slideNavOpt" pager="false" #slideNavCategory
                        (ionSlideDidChange)="slideDidChange($event, slider, slideNavCategory)">

              <!-- Add Category to the Nav Slide -->
              <ion-slide *ngFor="let category of (loadedCategoriesProduct | async)?.categories">
                <div class="category-wrapper" (click)="onFilterProducts(category.categoryName)">
                  <ion-avatar>
                    <img src="assets/images/placeholder.jpg">
                  </ion-avatar>
                  <p class="category-text"> {{ category.categoryName }} </p>
                </div> 
              </ion-slide>
          </ion-slides>
          </div>
          
          <div class="slider-nav arrow-next"> 
            <span class="slider-nav arrow-next" (click)=slideNext(slider,slideNavCategory)>
              <div class="after-icon-custom custom-nav" [class.disabled]="slider.isEndSlide">
                <ion-img src="assets/images/iconmonstr-arrow-65.svg"></ion-img>
              </div>
            </span>
        </div> 

        </div>

      </ion-col>
      <ion-col size="9" size-sm="6">
          <div class="card-products" scrolly="true">
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
            <ion-card> 
              <p>sample</p>
            </ion-card>
          </div>
        <!-- </ion-list> -->
      </ion-col>
      <ion-col size="12" size-sm="4">
        <div class="order-details" style="border: 1px solid black">
            <h1> Orders here </h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>